#home {
  margin-top: 74px;
  padding: 0 12px;
}

#home .movies-transition-appear {
  opacity: .01;
}

#home .movies-transition-appear.movies-transition-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in;
}

#home #movies {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
